[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
python-dotenv = "*"
youtube-transcript-api = "*"
langchain = "*"
langchain-openai = "*"
pytube = "*"
nltk = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
llama-index-llms-azure-openai = "*"
llama-index-embeddings-azure-openai = "*"
langchain-aws = "*"
boto3 = "*"
anthropic = "*"
llama-index-llms-bedrock = "*"
llama-index-embeddings-bedrock = "*"

[dev-packages]
scikit-learn = "*"

[requires]
python_version = "3.10"
