.div-result {
    padding: 2em;
    width: 800px;
}

.div-table-resulttable {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}

.div-table-resulttable tr {
    text-align: left;
}

.div-table-resulttable td {
    border: 1px solid;
    border-color: black;
    padding: 1.0em;
    padding-right: 1.0em;
}

.div-table-td-title-resulttable {
    white-space: nowrap;
    font-weight: bold;
    background-color: bisque;
}

.div-table-li-topic-title-resulttable {
    font-weight: bold;
    text-decoration: underline;
}

.div-table-ul-topic-resulttable {
    list-style: none;
}

.div-table-ul-detail-resulttable {
    padding-right: 1.5em;
}